header.header
  .header__inner
    .header__top-left
      .slogan
        | Header
    .header__gumburger
      button#js-main-menu-toggle.humb.humb__htx.humb--header(aria-label='Главное меню')
        span Меню
