.link-panel
  .link-panel__button
  .link-panel__inner
    ul.link-panel__list
      li.link-panel__item
        a.link-panel__link(href='index.html') Главная страница
      li.link-panel__item
        a.link-panel__link(href='tech.html') Технический дизайн
      li.link-panel__item
        a.link-panel__link(href='all-blocks.html') Все блоки
