extends ./layout/template

block content
  section.section
    .section__inner
      .container-fluid
        article.text
          h1 Ссылки на сверстанные страницы
          ul
            li
              a(href='tech.html') Технический дизайн
            li
              a(href='blocks.html') Блоки
          img(src='example/photo1-big.jpg')
